<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span>Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{location.state}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{location.district}}</span>
                </dd>
                <dt><span>Tehsil</span></dt>
                <dd>
                    <span>{{location.tehsil}}</span>
                </dd>
                <dt><span>Village</span></dt>
                <dd>
                    <span>{{location.village}}</span>
                </dd>
                <dt><span>Pincode</span></dt>
                <dd>
                    <span>{{location.pincode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
