<div>
    <h2 id="page-heading">
        <span>Crop Procurement Passes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-crop-procurement-pass" [routerLink]="['/crop-procurement-pass/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Crop Procurement Pass
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="cropProcurementPasses?.length === 0">
        <span>No cropProcurementPasses found</span>
    </div>
    <div class="table-responsive" *ngIf="cropProcurementPasses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cropDate"><span>Crop Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cropType"><span>Crop Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="expectedYeild"><span>Expected Yeild</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="expectedYeildUnits"><span>Expected Yeild Units</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="procurementDate"><span>Procurement Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="passStatus"><span>Pass Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span>Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedAt"><span>Modified At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="procurementCenterId"><span>Procurement Center</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="farmerId"><span>Farmer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="passApprovedById"><span>Pass Approved By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdById"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedById"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cropProcurementPass of cropProcurementPasses ;trackBy: trackId">
                <td><a [routerLink]="['/crop-procurement-pass', cropProcurementPass.id, 'view' ]">{{cropProcurementPass.id}}</a></td>
                <td>{{cropProcurementPass.cropDate | date:'medium'}}</td>
                <td>{{cropProcurementPass.cropType}}</td>
                <td>{{cropProcurementPass.expectedYeild}}</td>
                <td>{{cropProcurementPass.expectedYeildUnits}}</td>
                <td>{{cropProcurementPass.procurementDate | date:'medium'}}</td>
                <td>{{cropProcurementPass.passStatus}}</td>
                <td>{{cropProcurementPass.createdAt | date:'medium'}}</td>
                <td>{{cropProcurementPass.modifiedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="cropProcurementPass.procurementCenterId">
                        <a [routerLink]="['/procurement-center', cropProcurementPass.procurementCenterId , 'view' ]" >{{cropProcurementPass.procurementCenterId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cropProcurementPass.farmerId">
                        <a [routerLink]="['/farmer', cropProcurementPass.farmerId , 'view' ]" >{{cropProcurementPass.farmerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cropProcurementPass.passApprovedById">
                        <a [routerLink]="['/employee', cropProcurementPass.passApprovedById , 'view' ]" >{{cropProcurementPass.passApprovedById}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cropProcurementPass.createdById">
                        <a [routerLink]="['/employee', cropProcurementPass.createdById , 'view' ]" >{{cropProcurementPass.createdById}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cropProcurementPass.modifiedById">
                        <a [routerLink]="['/employee', cropProcurementPass.modifiedById , 'view' ]" >{{cropProcurementPass.modifiedById}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/crop-procurement-pass', cropProcurementPass.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/crop-procurement-pass', cropProcurementPass.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/crop-procurement-pass', { outlets: { popup: cropProcurementPass.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
